body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png");
  font-family: 'Gugi', cursive;
}
pre {
  display: inline;
}
footer::before {
  width: 98vw;
}
footer {
  text-align: center;
  padding: 6rem 0;
}
.low p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#install_success > * {
  background-color: lightgreen;
}
::placeholder {
  color: lightgreen;
}